main{
    border: 10px groove rgb(238, 255, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex_row_1{
    border: 5px solid blue;
    display: flex;
    /* align-items: baseline;
    flex-direction: row; */
}

.flex_row_2{
    border: 5px solid rgb(255, 8, 0);
    display: flex;
    /* align-items: baseline;
    flex-direction: row; */
}
.flex_row_3{
    border: 5px solid rgb(102, 255, 0);
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline;
    flex-direction: row; */
}
.flex_item_1{
    border: 5px solid tomato;
   background-color: aqua;
   font-size: 50px;
   flex-basis: 300px;
   flex-shrink: 3;
   flex-basis: 100%;
   text-align: center;
   margin:0 auto;
}

.flex_item_2{
    border: 5px solid tomato;
    background-color: rgb(5, 124, 35);
    color: white;
    font-size: 20px;
    flex-basis: 300px;
    flex-shrink: 2.5;
    flex-basis: 100%;
}

.flex_item_3{
    border: 5px solid tomato;
    font-size:25px;
    padding: 50px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-basis: 100%;
}
.flex_item_4{
    border: 5px solid tomato;
    font-size: 50px;
    padding: 50px;
    flex-basis: 300px;
    flex-shrink: 1.3;
    flex-basis: 100%;
}

.flex_item_5{
    border: 5px solid tomato;
    font-size: 50px;
    flex-basis: 100%;
}
.navigation {
	margin-top: 20px;
}
.content{
    font-family: 'Times New Roman', Times, serif;
}
.nav-ul {
	display: flex;
	flex-direction: column;
}